.places {
  margin: 0px auto;
  display: grid;
}

@media (min-width: 1280px) {
  .places {
    width: 984px;
    padding-top: 92px;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .places {
    width: 76.875%;
    padding-top: 92px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .places {
    width: 90.625%;
    padding-top: 92px;
  }
}

@media (max-width: 768px) and (min-width: 520px) {
  .places {
    width: 93.75%;
    padding-top: 88px;
  }
}

@media (max-width: 519px) {
  .places {
    width: calc(288/320*100%);/*288*/
    padding-top: 64px;
  }
}

@media (max-width: 350px) {
  .places {
    width: 100%;
    padding-top: 64px;
  }
}
