.lead {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1280px) {
  .lead {
    width: 984px;
    padding-top: 56px;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .lead {
    width: 76.88%;
    padding-top: 48px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .lead {
    width: 90.625%;
    padding-top: 48px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .lead {
    width: 100%;
    padding-top: 48px;
  }
}

@media (max-width: 425px) {
  .lead {
    width: 100%;
    padding-top: 44px;
  }
}
