.footer__link {
	margin: 0;
	padding: 0px 18px 0 0;

	/* width: 50px; */
	/* height: 18px;
	left: 48px;
	top: 6833px; */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */


	color: #FFFFFF;

	text-decoration: none;
}

.footer__link:last-of-type {
	padding: 0;
}