.intro {
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .intro {
    width: 984px;
    padding-top: 92px;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .intro {
    width: 76.88%;
    padding-top: 92px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .intro {
    width: 90.625%;
    padding-top: 92px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .intro {
    padding-top: 88px;
    width: calc(720*100%/768);
  }
}

@media (max-width: 425px) {
  .intro {
    width: calc(288/320*100%);/*288*/
    padding-top: 64px;
  }
}
