.cover {
  margin: 0px auto;
  max-width: 1184px;
}

@media (min-width: 1280px) {
  .cover {
    padding-top: 92px;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .cover {
    padding-top: 92px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .cover {
    padding-top: 92px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}
