.header__langs-item {
  margin: 0;
  list-style: none;
  padding: 0 18px 0 0;
  width: 30px;
}

.header__langs-item:last-of-type {
  padding: 0;
}

@media (max-width: 425px) {
  .header__langs-item {
    width: 22px;
  }
}
