.place {
	margin: 0;
	padding-top: 80px;

	/* border: 1px solid red; */

	/* width: 984px;
	height: 660px; */

	display: grid;
	grid-template-columns: 460px 484px;
	grid-template-rows: auto auto;
	grid-gap: 48px 40px;

}

.place:first-of-type {
	padding: 0;
}